<style>

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

  td, th {
  border: 1px solid #2b0808;
  text-align: center;
  padding: 10px;
}

  tr:nth-child(even) {
  background-color: rgb(219, 211, 211);
}

</style>